.articles-panel {
    font-size: 18px;
    height: 100vh;
    flex: 1 1 27%;
    min-width: 350px;
    background-color: hsla(23, 27%, 92%, 1);
    box-shadow: 0 0 10px #0000001f;
    border-right: 1px solid #bdbdbd;
    z-index: 1;
}